html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Bitter", serif;
}
:root {
  /*in the root of the project (html/body), we are going to define smth (colors) */
  --black: #000;
  --white: #ffffff;
  --light-cherry: #fff7eb;
  --mid-cherry: #68273b;
  --dark-cherry: #3b1d26;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;
  --light-violet: #f2e8f7;

  /*Intentions*/
  --primary: var(--light-cherry);
  --secondary: var(--dark-cherry);
  --tertiary: var(--mid-cherry);

  /*Typography*/
  --h1: 7.594rem;
  --h2: 4.813rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1 {
  font-size: var(--h1);
  color: var(--secondary);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
body {
  background-color: var(--primary);
}
button,
button:link,
button:visited {
  font-size: var(--h3);
  margin: 2rem 2rem;
  width: 7%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: solid 0.4rem var(--secondary);
  border-radius: 2rem;
  background-color: var(--primary);
  display: inline-block;
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.2);
}
.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.display-card {
  font-size: 8rem;
  background-color: var(--white);
  border: solid 1rem var(--secondary);
  border-radius: 2rem;
  width: 31.2%;
  height: 40rem;
  margin: 2rem auto;
  padding: 15px;
  text-align: center;
}
.display-img {
  height: 60%;
  margin: 0.5rem auto;
  border-radius: 2rem;
  border: solid 1rem var(--secondary);
} 
.display-name,
.display-price {
  color: var(--tertiary);
}
